<div class="card">
  <div class="card-header bg-info"><h6>Employ Registration</h6></div>
  <div class="card-body">
    <form [formGroup]="employeeForm" (ngSubmit)="formSubmit()">
      <div class="row mt-2">
        <div class="form-group col ">
          <label for>Department</label>
          <select class="form-control" name="department"
            formControlName="department"
            [class.is-invalid]="f['department'].invalid &&f['department'].touched">---Select---
            <option value="Accounts">Accounts</option>
            <option value="Manager">Manager</option>
            <option value="Administrator">Administrator</option>
          </select>
          <div class="borderred"
            *ngIf="f['department'].invalid && f['department'].touched">
            <div class="text-danger"
              *ngIf="f['department'].errors && f['department'].errors['required']">Deparment
              is required</div>
          </div>
        </div>
        <div class="form-group col ">
          <label for>Employee Name</label>
          <input type="text" class="form-control" name="empName"
            formControlName="empName"
            [class.is-invalid]="f['empName'].invalid &&f['empName'].touched">
          <div class="borderred"
            *ngIf="f['empName'].invalid && f['empName'].touched">
            <div class="text-danger"
              *ngIf="f['empName'].errors && f['empName'].errors['required']">Employee
              Name
              is required</div>
          </div>
        </div>

        <div class="form-group col ">
          <label for>Mobile</label>
          <input type="text" class="form-control" name="mobile"
            formControlName="mobile"
            [class.is-invalid]="f['mobile'].invalid &&f['mobile'].touched">
          <div class="borderred"
            *ngIf="f['mobile'].invalid && f['mobile'].touched">
            <div class="text-danger"
              *ngIf="f['mobile'].errors && f['mobile'].errors['required']">Deparment
              is required</div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="form-group col ">
          <label for>Gender</label>
          <select class="form-control" name="gender"
            formControlName="gender"
            [class.is-invalid]="f['gender'].invalid &&f['gender'].touched">---Select---
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
          <div class="borderred"
            *ngIf="f['gender'].invalid && f['gender'].touched">
            <div class="text-danger"
              *ngIf="f['gender'].errors && f['gender'].errors['required']">gender
              is required
            </div>
          </div>
        </div>
        <div class="form-group col ">
          <label for>Date of Join</label>
          <input type="date" class="form-control" name="joinDate"
            formControlName="joinDate"
            [class.is-invalid]="f['joinDate'].invalid &&f['joinDate'].touched">
          <div class="borderred"
            *ngIf="f['joinDate'].invalid && f['joinDate'].touched">
            <div class="text-danger"
              *ngIf="f['joinDate'].errors && f['joinDate'].errors['required']">Date
              of Join
              is required
            </div>
          </div>
        </div>
        <div class="form-group col ">
          <label for>Email</label>
          <input type="email" class="form-control" name="email"
            formControlName="email"
            [class.is-invalid]="f['email'].invalid &&f['email'].touched">
          <div class="borderred"
            *ngIf="f['email'].invalid && f['email'].touched">
            <div class="text-danger"
              *ngIf="f['email'].errors && f['email'].errors['required']">Email
              is required
            </div>

          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="form-group col ">
          <label for>Salary</label>
          <input type="yext" class="form-control" name="salary"
            formControlName="salary"
            [class.is-invalid]="f['salary'].invalid &&f['salary'].touched">
          <div class="borderred"
            *ngIf="f['salary'].invalid && f['salary'].touched">
            <div class="text-danger"
              *ngIf="f['salary'].errors && f['salary'].errors['required']">Salary
              is required
            </div>
          </div>

        </div>
        <div class="form-group col ">
          <label for>Password</label>
          <input type="password" class="form-control" name="password"
            formControlName="password"
            [class.is-invalid]="f['password'].invalid &&f['password'].touched">
          <div class="borderred"
            *ngIf="f['password'].invalid && f['password'].touched">
            <div class="text-danger"
              *ngIf="f['password'].errors && f['password'].errors['required']">Password
              is required
            </div>
          </div>
        </div>
        <div class="form-group col ">
          <label for>Confirm Password</label>
          <input type="password" class="form-control" name="confirmPassword"
            formControlName="confirmPassword"
            [class.is-invalid]="f['confirmPassword'].invalid &&f['confirmPassword'].touched">
          <div class="borderred"
            *ngIf="f['confirmPassword'].invalid && f['confirmPassword'].touched">
            <div class="text-danger"
              *ngIf="f['confirmPassword'].errors && f['confirmPassword'].errors['required']">Confirm
              Password
              is required
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12">
          <div class="form-group col form-check">
            <input type="checkbox" class="form-check-input" name="empStatus"
              formControlName="empStatus"
              [class.is-invalid]="f['empStatus'].invalid &&f['empStatus'].touched">
            <label for>Active</label>
            <div class="borderred"
              *ngIf="f['empStatus'].invalid && f['empStatus'].touched">
              <div class="text-danger"
                *ngIf="f['empStatus'].errors && f['empStatus'].errors['required']">Active
                is required
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row mt-2">
        <div class="form-group text-center">
          <button type="submit" class="btn btn-success me-2"
            [class.disabled]="employeeForm.invalid">{{buttonText}}</button>
          <button type="button" (click)="resetbtn()"
            class="btn btn-warning me-2">Reset</button>
          <!-- <button type="button" (click)="deletebtn()"
            class="btn btn-danger">Cancel</button> -->
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card">
  <div class="card-header bg-info"><h6>Employee List</h6></div>

  <div class="card-body">
    <div class="row">
      <table
        class="table table-bordered table-striped table-sm table-responsive-sm w-full">
        <thead class="text-center bg-blue-100">
          <tr class="p-3">
            <th scope="col">Department</th>
            <th scope="col"> Employee Name</th>
            <th scope="col">Mobile</th>
            <th scope="col">Gender</th>
            <th scope="col">Joining Date</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>

          </tr>
        </thead>
        <tbody class="text-center ">
          <tr *ngFor="let emp of employees">
            <td>{{emp.department}}</td>
            <td>{{emp.empName}}</td>
            <td>{{emp.mobile}}</td>
            <td>{{emp.gender}}</td>
            <td>{{emp.joinDate}}</td>
            <td>{{emp.email}}</td>
            <td>
              <button class="btn btn-success me-2"
                (click)=" Edit(emp.id)">Edit</button>
              <button class="btn btn-warning me-2">Detail</button>
              <button class="btn btn-danger"
                (click)="Delete(emp.id)">Delete</button>
            </td>

          </tr>

        </tbody>
      </table>
    </div>
  </div>

</div>
<router-outlet />
